/*EXABLE D ANIDANDO CAJAS CAJA2 DENTRO DE CAJA 1*/
#box_1 {
  background: #841B59;
  height: 15em;
	position: relative;
	width: 15em;
}

#box_2 {
  background: #C8097A;
  height: 15em;
  left : 15em;
	position: relative;
	width: 15em;
}

#box_3 {
  background: #C28DAC;
  height: 15em;
	position: relative;
	width: 15em;
}
