/*EXAMPLE G POSITION ABSOLUTE */
#box_1 {
  background: #841B59;
  bottom: 1em;
  left: 1em;
	position: absolute;
  top:1em;
  right: 1em;
}

#box_2 {
  background: #C8097A;
  bottom: 3em;
  left: 3em;
	position: absolute;
  top: 3em;
  right: 3em;

}
